<% function timeSince(o){var t=Math.floor((new Date-o)/1e3),r=Math.floor(t/31536e3);return r>1?r+" years":(r=Math.floor(t/2592e3))>1?r+" months":(r=Math.floor(t/86400))>1?r+" days":(r=Math.floor(t/3600))>1?r+" hours":(r=Math.floor(t/60))>1?r+" minutes":Math.floor(t)+" seconds"}%>

<!DOCTYPE html>
<html>
  <%- include('../head') -%>
    <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/animations/jquery-sakura.min.css" />
  <body>
    	<div class="container-fluid navbar-fixed-top box-shadow" style="background-color:#fff; margin-bottom:2rem">
        <br>  
        <center>
          <b>
            <img src="<%= reciever.profile_pic %>" class="logo">
            <%= reciever.username %>
          </b>
          </center>
          <br>
      </div>
      
    <br>
    <div class="container" id="mainPage">
      <ul class="list-group">
      <% if(room.chats.length < 1) { %>
        <div class="row">
          <div class="col-md-12">
            Send a message below!
          </div>
        </div>
      <% } %>
  <% for(var i=0;i<room.chats.length;i++) {
    if(room.chats[i].by && room.chats[i].by.profile_pic) { %>
      <!--<div class="col-md-4">
        <li class="list-group-item" style="display:inline-block">
          <img class="logo" style=" border-radius: 50%;" src="<%= room.chats[i].by.profile_pic %>">  
        </li>
      </div>
      <div class="col-md-6">
        <li class="list-group-item" style="height:100%; width:100%"> 
            <a style="text-decoration: underline" href="/u/<%= room.chats[i].by._id %>"><b><%= room.chats[i].by.username %></b></a> - <span data-time="<%= room.chats[i].time %>" class="timeSince"><%= timeSince(new Date(room.chats[i].time)) %></span><br> <%= room.chats[i].txt %>
        </li>
      </div>-->
    
    <ul class="list-group">
      <li class="list-group-item">
        <img class="logo" style="height: 30px;width: 30px;" src="<%= room.chats[i].by.profile_pic %>">
        <a href="/u/<%= room.chats[i].by.username %>"><b><%= room.chats[i].by.username %></b></a><span data-time="<%= room.chats[i].time %>" class="timeSince float-right"><%= timeSince(new Date(room.chats[i].time)) %></span>
        <br><br> <span class="msg"><%= room.chats[i].txt %></span> 
        
      </li>
    </ul>
  <% }} %>
</ul>
  <div style="display:none" id="typing" class="row">
      <div class="col-md-12">
        <span id="typingWords"></span><span id="wait">.</span>
      </div>
    </div>
    </div>
       <div class="container" style="padding-bottom:100px; float:bottom">
      <input type="text" class="form-control" id="msg" placeholder="Type something...">
    </div>
    <%- include('../tabs') %>
    <%- include('../footer') -%>
  </body>
  <script src="/javascripts/socket.io.js" charset="utf-8"></script>
  <script type="text/javascript">
  scrollingElement = (document.scrollingElement || document.body);
  function scrollSmoothToBottom (id) {
   $(scrollingElement).animate({
      scrollTop: document.body.scrollHeight
   }, 500);
  }

  function timeSince(o){var t=Math.floor((new Date-o)/1e3),r=Math.floor(t/31536e3);return r>1?r+" years":(r=Math.floor(t/2592e3))>1?r+" months":(r=Math.floor(t/86400))>1?r+" days":(r=Math.floor(t/3600))>1?r+" hours":(r=Math.floor(t/60))>1?r+" minutes":Math.floor(t)+" seconds"}
      setInterval(() => {
      Array.from($('.timeSince')).forEach(t => {
        var date = new Date($(t).attr('data-time'));
        var since = timeSince(date);
        $(t).text(since);
      })
    },30000)
    var socket = io();


    function addMessage(data) {
      const list = $('.list-group')[0];
      showTyping(null, true)
      console.log(data)
      list.innerHTML += `<ul class="list-group">
        <li class="list-group-item">
          <img class="logo" style="height: 30px;width: 30px;" src="${data.by.profile_pic}">
          <a href="/u/${data.by._id}"><b>${data.by.username}</b></a><span data-time="${data.time}" class="timeSince float-right">${timeSince(new Date(data.time))}</span>
          <br><br> <span class="msg">${data.txt}</span> 
        </li>
      </ul>`;
      scrollSmoothToBottom();
      // window.scrollTo(0,document.body.scrollHeight);
    }
    var timeLeft = 0;
    var i;
    var dotInterval;
    function dots() {
      clearInterval(dotInterval);
      dotInterval = setInterval( function() {
      var wait = document.getElementById("wait");
      if ( wait.innerHTML.length > 3 ) 
          wait.innerHTML = "";
      else 
          wait.innerHTML += ".";
      }, 200);
    }
    function showTyping(data, stop) {
      if(stop) return $('#typing').fadeOut(200);
      if(i) clearInterval(i);
      dots();
      $('#typingWords').text(`${data.username} is typing`);
      $('#typing').fadeIn(200);
      var timeLeft = 2000
      i = setInterval(() => {
        timeLeft -= 200;
        if(timeLeft == 0) {
          $('#typing').fadeOut(200);
          clearInterval(i);
          clearInterval(dotInterval);
        }
        console.log(timeLeft)
      }, 100)
    }



    socket.on('connect', function (data) {
      console.log('Connected')
    });
    socket.on('new msg', function (data) {
      addMessage(data);
    });
    socket.on('typing', function (data) {
      showTyping(data);
    });
    
    function trySendingMsg(e) {
      if(e.keyCode == 13) {
        var data = {
          txt:e.target.value,
          time:new Date()
        }
        socket.emit('msg', data);
        $("#msg").val('');
      }
      else {
        socket.emit('typing');
      }
    }

    $("#msg").on("keydown", trySendingMsg);
    scrollSmoothToBottom();
  </script>
</html>
