<!DOCTYPE html>
<html>
  <%- include('../head') -%>
    <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
    <link type="text/css" rel="stylesheet" media="screen" href="/animations/jquery-sakura.min.css" /> 
  <body>
  <%- include('../navbar')	-%>
    <br>
    <div class="container" id="mainPage">
      <img src="<%= user.profile_pic %>" class="logo">
      <a class="gram-card-user-name" href="">@<%= user.username %></a>
      (<%= user.firstname %> <%= user.lastname %>)
      <br><br>
        <span class="bio"><%- user.bio %></span>
      <br><br>
      <div class="float-right margin-right-10">
        
        
        <a class="btn btn-action btn-sm btn-default" href="/me/settings">Settings</a>
          
      </div>
      <br><br><br>
      
     
    </div>
    <div class="container">
      <center>
      <% for(var x=0;x<user.posts.length;x++) { %>
        <img src="<%= user.posts[x].static_url %>" class="feed-view-img">
      <% } %>
      </center>
    </div>
    <div id="notify_message" class="notify_message-success">
    	<center>Settings</center>
    </div>
    <%- include('../tabs') %>
    <%- include('../footer') -%>
  </body>
  <script type="text/javascript">
    const _id = "<%= user._id %>";
  </script>
  <script type="text/javascript" src="/javascripts/follow.js"></script>
</html>
