<!DOCTYPE html>
<html>
  <%- include('../head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
  <body>
  <%- include('../navbar')	-%>
    <br>

    <div class="container">
        <h1>Your settings</h1><br>
        <img style="display: inline; border-radius: 50%; width: 20%" src="<%= user.profile_pic %>"><input style="margin-top: 5%;margin-bottom: 5%;width: 70%;display: inline;margin-left: 10%;" type="file" name="file" class="form-control">
        <input type="text" onchange="change(this.value, 'Username')" class="form-control" style="margin-top: 5%" value="<%= user.username %>">
    </div>


    <%- include('../tabs') %>
    <%- include('../footer') -%>
  </body>
  <script type="text/javascript">
    const _id = "<%= user._id %>";
  </script>
    <div id="notify_message" class="notify_message-success">

  </div>
  <script>
    
    function change(value, key) {
        $.ajax({
            method: 'POST',
            url: '/api/v1/user',
            data: {
                "_id":_id,
                key: key.toLowerCase(),
                value
            }
        })
        .done(function(data){
            show_notification(key + ' changed to ' + value, 'success')
        })
        .fail(function(data){
            console.log(data)  
        });
    }

  </script>
  <script type="text/javascript" src="/javascripts/follow.js"></script>
</html>
