<link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'><meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
{{#if normal}}
<link rel="stylesheet" href="/layout.blue.css">
{{/if}}
{{#if light}}
<link rel="stylesheet" href="/layout.css">
{{/if}}
<link rel="stylesheet" type="text/css" href="/fontawesome/css/all.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<style type="text/css">
  body {
    padding-top: 0;
    padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  }
  .h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
  }
</style>
<body>
<section class="display-pic">
  <div style="float:left;margin: 10px; margin-right: 0;">
    <a href="/" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-arrow-left" style="top:0;"></i>
    </a>
  </div>
   <div style="float:right;margin: 10px;">
    <a href="/auth/settings" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-cog" style="top:0;"></i>
    </a>
  </div>
  <div style="float:right;margin: 10px;">
  
</div>
<br>
<br>
<br><br>
  <img src="{{ user.dp }}" class="user-image" style="float: center;">
  <h1 class="font" style="margin-bottom: 10px;float: center;">{{ user.username }}</h1>
  <br>
  <strong style="margin:20px;"> <i class="fa fa-lg fa-users"></i> {{user.followers.length}}</strong>
  <strong> <i class="fa fa-lg fa-upload"></i> {{user.posts.length}}</strong><br><br>
  
</section>
<br>
<section class="main-section">
<h1 style="margin: 20px;" class="h1">Posts</h1>
{{#each user.posts}}
<div class="col-xs-3 col-md-3 col-lg-3 col-sm-3">
  <div class="gram-card-image">
      <img src="{{ src }}" class="img-responsive" />
    </div>
</div>  
  <br> 
{{/each}}
<br>
</section>
</body>
