<!DOCTYPE html>
<html>
  <%- include('head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
  <body>
  <%- include('navbar') -%>
  <br>
<div class="container-fluid form-container" id="main">
 <% for(var i=0;i<people.length;i++) { %>
 <% for(var z=0;z<people[i].posts.length;z++) { %>
 <% if(people[i].posts[z].category === category)  { %>
 <div class="gram-card">
    <div class="gram-card-header">
      <img src="<%= people[i].profile_pic %>" class="gram-card-user-image">
      <a class="gram-card-user-name" href="/u/<%= people[i].posts[z].author %>"><%= people[i].posts[z].author %></a>
      
            <div class="dropdown gram-card-time">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-option-vertical"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="<%= people[i].posts[z].static_url %>"><i class="fa fa-share"></i> View</a></li>
                
              </ul>
              </div>
              <div class="time"><%= people[i].posts[z].timeago %></div>
    </div>
<br>
<br>
    <div class="gram-card-image">
      <center><img src="<%= people[i].posts[z].static_url %>" id="img_{{_id}}" class="img-responsive"></center>
    </div>

    <div class="gram-card-content">
     
      <p><a class="gram-card-content-user" href="/u/undefined_void"><%= people[i].posts[z].author %></a>
        <%= people[i].posts[z].caption %>
        <span class="label label-info"><%= people[i].posts[z].category %></span>
        
     </p>

      <p class="comments"><%= people[i].posts[z].comments.length %> comment(s).</p>
      <br>

      <div class="comments-div">
      
      <div>
        <% for(var c=0;c<people[i].posts[z].comments.length;c++) { %>
        <a class="user-comment" href="/user/<%= people[i].posts[z].comments[c].by %>">
        <%= people[i].posts[z].comments[c].by %>
      </a>
       <%= people[i].posts[z].comments[c].text %>
       <% } %>
     </div>
           
      </div>
    <hr>
    </div>  

    <div class="gram-card-footer">
      
      <button class="footer-action-icons likes btn btn-link non-hoverable" {{#if disabled}}disabled="true"{{/if}} onclick="like('{{_id}}')" id="{{_id}}">
        <i class="glyphicon glyphicon-thumbs-up"></i> <%= people[i].posts[z].likes.length %></button>
      
      
      <input class="comments-input" id="input_{{_id}}" type="text" placeholder="Comment here..."/>
      <button class="footer-action-icons btn btn-link" onclick="comment('{{_id}}')"><i class="glyphicon glyphicon-comment"></i></button>
    </div>

  </div>

<br>
<br>

 <% } %>
  <% } %>    
  <% } %>    
  </div>
  <div id="notify_message" class=" notify_message-success">
    <center>You are now a part of spruce!</center>
  </div>
  <%- include('footer') -%>
  </body>
  <script type="text/javascript">
    show_notification('See feeds under the category!','success')
  </script>
  
</html>
