<!DOCTYPE html>
<html>
<head>
	<title>Pudding - Post</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/fontawesome/css/all.css">
  
	 {{#if normal}}
<link rel="stylesheet" href="/layout.blue.css">
{{/if}}
{{#if light}}
<link rel="stylesheet" href="/layout.css">
{{/if}}
<link rel="stylesheet" href="/signin.css">
<link rel="stylesheet" href="/loader.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body> 
  <style type="text/css">
  body {
    padding-top: 0;
    padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  }
  
  .input-group {
  	margin : 10px;

  }
  .chatNav {
  	height: 60px;
  	background-color: transparent;
  }
  .h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
  }
</style>
<body>

  <section class="display-pic">
  <div style="float:left;margin: 10px; margin-right: 0;">
    <a href="/" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-arrow-left" style="top:0;"></i>
    </a>
  </div>
   <div style="float:right;margin: 10px;">
    <a href="/auth/settings" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-cog" style="top:0;"></i>
    </a>
  </div>
  
<br>
<br>
<br>
	
  </section>
  <br>
  <div class="container-fluid">

      <ul class="list-group" id="chat-div">
      {{#each target_users}}
        <ul class="list-group"><li class="list-group-item">
           <img src="{{profilePic}}" class="gram-card-user-image">
          <strong><a class="non-hoverable" style="margin-left: 10px;" href="/chat/{{username}}"> {{username}}</a></strong>

          <div style="float: right;">
          <i class="fa fa-upload"></i>
          {{posts.length}}
          </div>
          </li></ul>
    {{/each}}
        
    </ul>

    </div> <!-- /container -->
    

</body>
<script type="text/javascript" src="/socket.io.js"></script>
{{#if user}}
<script type="text/javascript">
	
	var socket = io.connect('/chat')

    socket.on('connect', () => {
      console.log('connected');
    });
    socket.on('init', data => {
      socket.emit('join', '{{roomid}}')
      $("#chat-div").append('<div class="alert alert-warning"><strong>Welcome to room no:{{roomid}}<br> <i class="fa fa-ban"></i> </strong> Work under construction.</div>')
    });
    socket.on('msg', data => {
      console.log(data);
      $("#chat-div").append('<ul class="list-group"><li class="list-group-item">'+data.txt+'<strong><a class="non-hoverable" style="float:right;" href="/user/'+data.user+'"> - '+data.user+'</a></strong></li></ul>')
    });
function send() {
	var msgToSend = $("#chatBox").val();
	if(msgToSend !== '') {
		socket.emit('msg', {
			txt: msgToSend,
			user: '{{user}}',
			roomid: '{{roomid}}'
		});	
	}
	
}
</script>
{{/if}}

<!-- <script type="text/javascript" src="/angular/angular.min.js"></script>
<script type="text/javascript" src="/controllers/controller.main.js"></script> -->

</html>

