<!DOCTYPE html>
<html>
  <%- include('head') -%>

  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">

<link type="text/css" rel="stylesheet" media="screen" href="/animations/jquery-sakura.min.css" />

  <body>
  <%- include('navbar')	-%>
  <%- include('sidebar') -%>
  <%- include('main') -%>
  <%- include('footer') -%>
  <div id="notify_message" class="notify_message-success">

  </div>

  </body>

<!-- End of your HTML body -->
<script src="/animations/jquery-sakura.min.js"></script>
<script>
    // domReady
    $(function() {
        $('body').sakura();
    });

    // windowLoad
    $(window).load(function() {
        $('body').sakura();
    });
</script>
  <script type="text/javascript">
    show_notification('<center>Built with <i class="fa fa-heart"></i> by Divy Srivastava.','success')
  </script>
  <script type="text/javascript" src="/javascripts/like.js"></script>
  <script type="text/javascript" src="/javascripts/comment.js"></script>
</html>
