<!DOCTYPE html>
<html ng-app="main" ng-cloak ng-controller="mainController">
<head>
  <title>Pudding - Home</title>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
  <script> 
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2302021365742224",
          enable_page_level_ads: true
     });
   </script>
  <base href="/">
</head>
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="/fontawesome/css/all.css">
<link rel="stylesheet" href="/layout.css">

<link rel="stylesheet" href="/loader.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/push.js"></script>
<script type="text/javascript" src="/socket.io.js"></script>
<script type="text/javascript">
  var user = "{{client}}";
  Push.Permission.request(function (){
    Push.create("Hello from Pudding!", {
        body: "This is a startup notification!",
        icon: "/lib/user.png",
        timeout: 5000,
        onClick: function() {
            console.log(this);
        }
    });
  },function (argument) {
    
  
    Push.clear()
  });
  var socket = io.connect('/services')

    socket.on('connect', function () {
      console.log('connected');
    });
    socket.on('disabled', function(res) {
      console.log(res+'disabled')
      $("#"+res)[0].disabled = "none";
      $("#"+res)[0].innerHTML = "Liked!"
      Push.create("Notification by Pudding", {
        body: "The post was liked by you!",
        icon: "/lib/user.png",
        
        onClick: function() {
            console.log(this);
        }
      });
    })
    socket.on('commented', function(res) {
      console.log(res+'commented')
      
      $('#comment_'+res.id).append('<div><a class="user-comment" href="/user/{{client}}">{{ client }}</a> '+res.text+' </div>')

      Push.create("Notification by Pudding", {
        body: "New comment by you! Whoo-ho! -- "+res.text,
        icon: "/lib/user.png",
        
        onClick: function() {
            console.log(this);
        }
      });
    })
  
  function like(id) {
    //console.log(id)
     socket.emit('like', {
        id: id,
        initiater: user
     })
  }
   
  function comment(id) {
    //console.log(id)
     socket.emit('comment', {
        id: id,
        text: $('#input_'+id).val(),
        initiater: user
     })
  }
  
  
   
</script>
<link rel="stylesheet" href="/blur.css">
<script src="/blur.js"></script>
<style type="text/css">
  body {
    padding-top: 0;
    padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  }
  
</style>
<script type="text/javascript">
  function load(id) {
   console.log(id)
         $('#img_'+id)[0].style.animation = 'blurOut 7s linear 1'
      $('#img_'+id)[0].style.filter = 'blur(0px)'
    } 
</script>
<body>
  <div style="display:none;" class="body">
  <section class="display-pic">
  <div style="float:left;margin: 10px; margin-right: 0;">
    <a href="/" class="btn btn-lg btn-link non-hoverable" style="color:#fff;">
  
        <strong><p class="font"> Pudding </p></strong>
  
    </a>
  </div>
  <div style="float:right;margin: 10px;">
    <button class="btn btn-link btn-lg non-hoverable" data-toggle="modal" data-target="#infoModal" style="color:#fff;">
  What's New?
    </button>
    
  </div>
   <div style="float:right;margin: 10px;">
    <a href="/auth/settings" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-cog" style="top:0;"></i>
    </a>
    
  </div>
  <div style="float:right;margin: 10px;">
    <a href="/chat" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-paper-plane"></i>
    </a>
    
  </div>
  
<br>
<br>
<br>
  
  </section>
  
 
   <br>
<nav class="navbar navbar-default navbar-fixed-bottom agradient">
      <div class="container-fluid">
        
          <a class="navbar-brand col-xs-3 col-md-3 col-lg-3 col-sm-3" href="/">
            <center><i style="color: white;"class="fa fa-1x fa-igloo"></i></center>
          </a>
          
          <a class="navbar-brand col-xs-3 col-md-3 col-lg-3 col-sm-3" href="/search">
            <center><i style="color: white;"class="fa fa-1x fa-search"></i></center>
          </a>
          <a class="navbar-brand col-xs-3 col-md-3 col-lg-3 col-sm-3" href="/upload">
            <center><i style="color:white;" class="fa fa-1x fa-plus"></i></center>
          </a>
          <a class="navbar-brand col-xs-3 col-md-3 col-lg-3 col-sm-3" href="/activity">
            <center><i style="color:white;" class="fa fa-1x fa-user"></i></center>
          </a>  
        
      </div>
    </nav>
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Yayy! It's Official now! Version 1.5.7 is here!!</h4>
      </div>
      <div class="modal-body">
          <div class="container-fluid alert agradient">
         <strong>What's new!?</strong>
         <ul>
           <li> Added activity feature - Click on user button below.</li>

           <li> New chat service available - Hit the paperplane button above.</li>
           <li> If you face any issue, contact me at <a style="color:#fff;" href="mailto:dj.srivastava23@gmail.com">dj.srivastava23@gmail.com</a>. You can even give suggestions for new features!</li>
           <li> WARNING - chat might not work on low-end devices.
           Will fix soon.</li>
           <li> ALERT - you will get an error if you hit the settings button. If bychance you click it , just press go back or restart the app/website.</li>
           <li> Comments and like function is ready and will be implemented once we have enough users. 
            <strong>SPREAD THE WORD!</strong></li>
         </ul>
         <span style="color:#fff;" class="text-muted">&copy; Divy Srivastava 2019</span>
         <span style="color:#fff;" class="text-muted" style="float:right;">project under MIT liscense and security by <a style="color:yellow;" href="https://console.aws.com">AWS</a> and <a style="color:yellow;" href="https://npmjs.com/package/bcrypt-nodejs">BCrypt</a></span>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
        <button type="button" class="btn btn-primary">Contact</button>
      </div>
    </div>
  </div>
</div>
    <div id="main">
       <br>
       
       <br>
       <center><a ng-click="refresh()" class="refresh">
  Refresh <i class="glyphicon glyphicon-refresh"></i>
</a></center>
{{#each post}}
<div class="gram-card">
    <div class="gram-card-header">
      <img src="/lib/user.png" class="gram-card-user-image">
      <a class="gram-card-user-name" href=""> {{ author }}</a>
      
            <div class="dropdown gram-card-time">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-option-vertical"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="{{ pudding }}"><i class="fa fa-share"></i> View</a></li>
                
              </ul>
              </div>
              <div class="time"> {{ timeago }} </div>
    </div>
<br>
<br>
    <div class="gram-card-image">
      <center><img src="{{ pudding }}" id="img_{{_id}}" class="img-responsive" onload="load('{{_id}}')" style="filter:blur(8px)"></center>
    </div>

    <div class="gram-card-content">
     
      <p><a class="gram-card-content-user" href="/profile/{{author}}">{{ author }}</a>
        {{ caption }}
     </p>

      <p class="comments">{{ comments.length }} comments.</p>
      <br>

      <div id="comment_{{_id}}" class="comments-div">
      {{#each comments}}
      <div><a class="user-comment" href="/user/{{user}}">{{ user }}</a> {{ comment }} </div>
      {{/each}}
      
      </div>
    <hr>
    </div>  

    <div class="gram-card-footer">
      
      <button class="footer-action-icons likes btn btn-pinky non-hoverable" {{#if disabled}}disabled="true"{{/if}} onclick="like('{{_id}}')" id="{{_id}}">
        <i class="glyphicon glyphicon-thumbs-up"></i> {{ likes }}</button>
      
      
      <input class="comments-input" id="input_{{_id}}" type="text" placeholder="Comment here..."/>
      <a class="footer-action-icons btn btn-pinky" onclick="comment('{{_id}}')"><i class="glyphicon glyphicon-comment"></i></a>
    </div>

  </div>
{{/each}}
<center>
<a class="dbox-donation-button" href="https://donorbox.org/pudding" style="background:#2d81c5 url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 37px center; color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 15px 38px 15px 75px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; box-shadow: 0 1px 0 0 #1f5a89; text-shadow: 0 1px rgba(0, 0, 0, 0.3);" >Donate</a>
</center>
<br><br><br><br><br>
    </div>
  </div>
 <div class="col-sm-6 col-sm-offset-3 load-logo">
  <br>
  <br><br><br><br><br><br>
    <div class="agradient logo-div"> 
        <h2 class="font"><center> Pudding </center></h2>
    </div><br>
    <div class="cog-div">
          <center><div class="loaderBar" data-example-id="animated-progress-bar">
    <div class="progress" style="background-color: #fff;border:none;">
      <div class="progress-bar progress-bar-striped load" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
  </div>
            </center><br>
            <center class="text-muted">Prettifying for you...</center>
        </div> 
    
  </div>
  </div>

</body>

 <script type="text/javascript">
   
    $(document).ready(function() {  
      $('.loaderBar')[0].style.display = 'none';
      $('.body')[0].style.display = 'inherit';
      $('.load-logo')[0].style.display = 'none';
    });

  
 </script>

</html>