<!DOCTYPE html>
<html ng-app="main" ng-cloak ng-controller="mainController">
<head>
  <title>Pudding - Home</title>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> 
  <script> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-2302021365742224", enable_page_level_ads: true }); </script>
  <base href="/">
</head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="/fontawesome/css/all.css">
<link rel="stylesheet" href="/layout.css">
<link rel="stylesheet" href="/loader.css">
<script src="/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<style type="text/css">
  body {
    padding-top: 0;
    padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  }
  
</style>
<body>
  <div style="display:none;" class="body">
  <section class="display-pic">
  <div style="float:left;margin: 10px; margin-right: 0;">
    <a href="/" class="btn btn-lg btn-link non-hoverable" style="color:#fff;">
  
        <strong><p class="font"> Pudding </p></strong>
  
    </a>
  </div>
   <div style="float:right;margin: 10px;">
    <a href="/auth/settings" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-cog" style="top:0;"></i>
    </a>
    
  </div>
  <div style="float:right;margin: 10px;">
    <a href="/chat" class="btn btn-lg btn-link" style="color:#fff;">
  <i class="fa fa-lg fa-paper-plane"></i>
    </a>
    
  </div>
  
<br>
<br>
<br>
  
  </section>
  <div class="loaderBar" data-example-id="animated-progress-bar">
    <div class="progress" style="background-color: #fff;border:none;">
      <div class="progress-bar progress-bar-striped load" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>
  </div>
 
   <br>
<nav class="navbar navbar-default navbar-fixed-bottom agradient">
      <div class="container-fluid">
        
          <a class="navbar-brand col-xs-3 col-md-3 col-lg-3 col-sm-3" href="/">
            <center><i style="color: white;"class="fa fa-1x fa-igloo"></i></center>
          </a>
          
          <a class="navbar-brand col-xs-3 col-md-3 col-lg-3 col-sm-3" href="/search">
            <center><i style="color: white;"class="fa fa-1x fa-search"></i></center>
          </a>
          <a class="navbar-brand col-xs-3 col-md-3 col-lg-3 col-sm-3" href="/upload">
            <center><i style="color:white;" class="fa fa-1x fa-plus"></i></center>
          </a>
          <a class="navbar-brand col-xs-3 col-md-3 col-lg-3 col-sm-3" href="/activity">
            <center><i style="color:white;" class="fa fa-1x fa-user"></i></center>
          </a>  
        
      </div>
    </nav>

    <div id="main">
       <br>
       <div class="container alert alert-info">
         <strong>What's new!?</strong>
         <ul>
           <li> Added activity feature - Click on user button below.</li>

           <li> New global chat service available - Hit the paperplane button above.</li>
           <li> If you face any issue, contact me at <a href="mailto:dj.srivastava23@gmail.com">dj.srivastava23@gmail.com</a>. You can even give suggestions for new features!</li>
           <li> WARNING - chat might not work on low-end devices.
           Will fix soon.</li>
           <li> ALERT - you will get an error if you hit the settings button. If bychance you click it , just press go back or restart the app/website.</li>
           <li> Comments and like function is ready and will be implemented once we have enough users. 
            <strong>SPREAD THE WORD!</strong></li>
         </ul>
         <span class="text-muted">&copy; Divy Srivastava 2019</span>
         <span class="text-muted" style="float:right;">project under MIT liscense and security by <a href="https://console.aws.com">AWS</a> and <a href="https://npmjs.com/package/bcrypt-nodejs">BCrypt</a></span>
       </div>
       <br>
       <center><a ng-click="refresh()" class="refresh">
  Refresh <i class="glyphicon glyphicon-refresh"></i>
</a></center>
{{#each post}}
<div class="gram-card">
    <div class="gram-card-header">
      <img src="/lib/user.png" class="gram-card-user-image">
      <a class="gram-card-user-name" href=""> {{ author }}</a>
      
            <div class="dropdown gram-card-time">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-option-vertical"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a ng-click="redirect('{{ pudding }}')">View</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#"></a></li>
              </ul>
              </div>
              <div class="time"> {{ timeago }} </div>
    </div>
<br>
<br>
    <div class="gram-card-image">
      <img src="{{ pudding }}" class="img-responsive" />
    </div>

    <div class="gram-card-content">
     
      <p><a class="gram-card-content-user" href="/profile/{{author}}">{{ author }}</a>
        {{ caption }}
     </p>

      <p class="comments">{{ comments.length }} comments.</p>
      <br>
      {{#each comments}}
      <div><a class="user-comment" href="">{{ user }}</a> {{ comment }} </div>
      {{/each}}
      </br>
      
    <hr>
    </div>  

    <div class="gram-card-footer">
      <a class="footer-action-icons likes btn btn-pinky non-hoverable" onclick="like('{{ _id }}')" id="{{_id}}"><i class="glyphicon glyphicon-thumbs-up"></i> {{ likes }}</a>
      <input id="$index" class="comments-input" type="text" placeholder="Comment here..."/>
      <a class="footer-action-icons btn btn-pinky" ng-click="comment(post.id,$index)"><i class="glyphicon glyphicon-comment"></i></a>
    </div>

  </div>
{{/each}}
    </div>
  </div>
 <div class="col-sm-6 col-sm-offset-3 load-logo">
  <br>
  <br><br><br><br><br><br>
    <div class="agradient logo-div"> 
        <h2 class="font"><center> Pudding </center></h2>
    </div><br>
    <div class="cog-div">
          <center><i class="fa fa-5x fa-cog loading"></i>
            </center><br>
            <center class="text-muted">Retriving data...</center>
        </div> 
    
  </div>
  </div>

</body>

 
<script type="text/javascript" src="/socket.io.js"></script>
<script type="text/javascript">
  var user = "{{client}}";
  var socket = io.connect('/')

    socket.on('connect', () => {
      console.log('connected');
    });
    socket.on('disabled', (res) => {
      $("#"+res)[0].disabled = ""
    })
  function like(id) {
    console.log(id)
     socket.emit('like', {
        id: id,
        initiater: user
     })
  }
   setTimeout(() => {
    $('.loaderBar')[0].style.display = 'none';
    $('.body')[0].style.display = 'inherit';
    $('.load-logo')[0].style.display = 'none';
  },4000)
   
</script>
</html>