
<div class="column col-xs-12 col-sm-9 col-lg-10" style="margin:auto" id="main">

<ul class="list-group">
  <li class="list-group-item list-group-item-primary">
    <img src="<%= user.profile_pic %>?cache=<%= Math.random() %>" class="gram-card-user-image">
     <a class="gram-card-user-name" href="/me"> @<%= user.username %>'s Dashboard</a> <br>
     <span class="label label-info" style="float:right;">last login <%= lastSeen %></span>
     <br>
   </li>
 </ul>
 <%- posts.map(obj => `

<div class="gram-card">
    <div class="gram-card-header">
      <img src="${ obj.user.profile_pic }?cache=${ Math.random() }" class="gram-card-user-image lozad">
      <a class="gram-card-user-name" href="/u/${ obj.post.authorID }">${ obj.post.author }</a>

            <div class="dropdown gram-card-time">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-option-vertical"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="${ obj.post.static_url }"><i class="fa fa-share"></i> View</a></li>
                ${obj.post.author == user.username ? `
                  <li><a href="/me/post/${obj.post._id}"><i class="fa fa-cog"></i> Edit</a></li>
                  <li><a href="/me/post/delete/${obj.post._id}"><i class="fa fa-trash"></i> Delete</a></li>
                ` : ""}
              </ul>
              </div>
              <div class="time">${ obj.post.timeago }</div>
    </div>
<br>
<br>
    <div class="gram-card-image">
      ${obj.post.static_url ? `
      ${obj.post.type == 'png' || obj.post.type == 'jpg' || obj.post.type == 'jpeg' ? `
      <center>
        <a href="${ obj.post.static_url }" class="progressive replace">
            <img author="${ obj.post.author }" src="/images/load.gif" id="${ obj.post._id }" class="post img-responsive lozad preview">
        </a>        
      ` : `
      <video author="${ obj.post.author }" src="${ obj.post.static_url }" id="${ obj.post._id }" class="post img-responsive" controls></video>
      `}
      </center>
       ` : "" }
    </div>
    <div class="gram-card-content">

      <p><a class="gram-card-content-user" href="/u/undefined_void">${ obj.post.author}</a>
        ${ obj.post.caption }
        <span class="label label-info">${ obj.post.category }</span>

     </p>

      <p class="comments">${ obj.post.comments.length } comment(s).</p>
      <br>

      <div class="comments-div">

      <div>
        ${obj.post.comments.map(comment => `
        <a class="user-comment" href="/u/${ comment.by }">
        ${ comment.by }
      </a>
       ${ comment.text }
       <br>
       `).join("")}
     </div>

      </div>
    <hr>
    </div>

    <div class="gram-card-footer">
      <button data="obj.post.likes" ${obj.post.likes.includes(user.username) ?  "disabled" : ""} onclick="this.innerHTML =  '<i class=\'glyphicon glyphicon-thumbs-up\'></i> ' + (parseInt(${ obj.post.likes.length }) + 1); this.disabled = true;" class="footer-action-icons likes btn btn-link non-hoverable like-button-box" author="${ obj.post.author }" id="${ obj.post._id }-like">
        <i class="glyphicon glyphicon-thumbs-up"></i> ${ obj.post.likes.length }</button>

      <input id="${ obj.post._id }" class="comments-input comment-input-box" author="${ obj.post.author }" type="text" id="comment" placeholder="Click enter to comment here..."/>

    </div>

  </div>
<br>
`).join("") %>
  </div>
