<!DOCTYPE html>
<html>
  <%- include('../head') -%>
  <link rel="stylesheet" type="text/css" href="/stylesheets/moment.css">
  <body>
  <div class="container-fluid top-navbar box-shadow">
      <a href="/" class="float-left black">
      <h2>
        <img src="/images/logo/logo.png" class="logo">
        spruce
      </h2>
      </a>
      <div class="float-right margin-top-20">
        <a href="/" class="btn btn-link">
          <i class="fa fa-lg fa-igloo pills"></i>
        </a>
      </div>
    </div>
    <br>
    <div class="container form-container">

      <form action="/me/upload" method="post" enctype="multipart/form-data">
        <div class="gram-card">
    <div class="gram-card-header">
      <img src="/images/logo/logo.png" class="gram-card-user-image">
      <a class="gram-card-user-name" href="/u/"><%= user %></a>

            <div class="dropdown gram-card-time">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-option-vertical"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a disabled><i class="fa fa-share"></i> View</a></li>

              </ul>
              </div>
              <div class="time"></div>
    </div>
<br>
<br>
    <div class="gram-card-image">
      <center>
         <div class="upload-btn-wrapper">
         <button class="btn agradient btn-action whoop" id="post">   <i class="fa fa-lg fa-upload"></i> Upload an image.
         </button>
         <input type='file' name='filetoupload' onchange="readURL(this);" id="file"/>
        </div>
        <div id="video-priview">

        </div>
        <img src="" id="blah" class="img-responsive">
      </center>
    </div>

    <div class="gram-card-content">
      <p><a class="gram-card-content-user" href="/u/<%= user %>"><%= user %></a><br>
        <input type="text" name="caption" placeholder="some_cool_text" class="form-control">
        <select class="form-control" name="type">
          <option>thoughts</option>
          <option>moments</option>
          <option>events</option>
        </select>
     </p>

      <br>

    <hr>
    </div>

    <div class="gram-card-footer">

      <button class="footer-action-icons likes btn btn-link non-hoverable" disabled onclick="like('{{_id}}')" id="{{_id}}">
        <i class="glyphicon glyphicon-thumbs-up"></i> 10</button>


      <input class="comments-input" id="input_{{_id}}" type="text" placeholder="Comment here..."/>
      <button class="footer-action-icons btn btn-primary" onclick="comment('{{_id}}')"><i class="glyphicon glyphicon-file-invoice"></i> Post</button>
    </div>

  </div>

<br>
<br>
</div>
      </form>
    </div>
  <div id="notify_message" class=" notify_message-success">
  	<center>You are now a part of spruce!</center>
  </div>
  <%- include('../footer') -%>
  </body>
  <script type="text/javascript">
    show_notification('Upload something here!','success')
  </script>
  <script type="text/javascript">
       function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  console.log(e);
                  var typeRegex = e.target.result.match(RegExp("data:video*"));
                  if(typeRegex) {
                    console.log("video");
                    // TODO: Add a video preview for the user
                  }
                    $('#blah')
                        .attr('src', e.target.result);
                      };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
</html>
